In [1]:
print("hello world")

hello world

# Int,float creation and methods

In [2]:
x=2.5
x

2.5

In [214]:
f=6
f.to_bytes(3,"little")  #convert into bytes

b'\x06\x00\x00'

In [3]:
x.as_integer_ratio()

(5, 2)

In [126]:
x.as_integer_ratio() #gives fraction

(5, 2)

In [132]:
k.real #real part

3.0

In [123]:
k=3+2j
k.imag #imaginary part

2.0

In [124]:
k.conjugate() #reverse the sign of imaginary part

(3-2j)

In [1]:
c=5.6
print(float.fromhex("ffffff")) #reverse of hex , convert from hex to float 
c.fromhex("deadbeef")#why?

16777215.0

3735928559.0

In [185]:
float.fromhex("0x1a79")

6777.0

In [4]:
x.is_integer #returns true if float is an integer

False

In [216]:
e=6777
print(hex(e)) #reverse of fromhex , convert from int to hex

0x1a79

In [5]:
x.real

2.5

In [244]:
den=10
den.denominator #? how we can get other denominator rather than 1

1

In [11]:
x=55
x.numerator #gives numerator

55

In [9]:
x=66/66
x

1.0

In [45]:
x.to_bytes(2,"big")

b'\x00\n'

In [52]:
z=1.0
z.is_integer()

True

In [6]:
y=6
float(y).is_integer() #convert int to float first

True

## string

In [3]:
str_1="Hello World, World, new World "
str_2="hello world"
str_1.lower() #convert into lowercase letter

'hello world, world, new world '

In [8]:
str_1.upper() #convert into uppercase letter

'HELLO WORLD, WORLD, NEW WORLD '

In [9]:
str_2.replace("world","ghost")  #replace word with new one

'hello ghost'

In [233]:
str_1.replace("World","Ghost") #replace word with new one in whole string
#str_1.replace?

'Hello Ghost Ghost new Ghost'

In [241]:
str_1.replace("World", "Ghost",2)# replace word with new one with a count of occurance , for eg.here is 2 so it replace first 2.

'Hello Ghost Ghost new World'

In [127]:
print(str_1)  #lot of confusion in whole of them
print(str_1.split(" ")) #2
print(str_1.split("  "))#3
print(str_1.split('d'))#4
print(str_1.split('d',2))#5
print(str_1.split(',',1)) #6
#str_1.split?

Hello World, World, new World
['Hello', 'World,', 'World,', 'new', 'World', '']
['Hello World, World, new World ']
['Hello Worl', ', Worl', ', new Worl', ' ']
['Hello Worl', ', Worl', ', new World ']
['Hello World', ' World, new World ']

In [5]:
str_1.find("new")

20

In [8]:
str_1.count("l")

5

In [5]:
str_1.startswith("Hello")

True

In [16]:
print(str_1.endswith("rld"))
print(str_1.endswith("Rld"))
print(str_1.endswith(" "))

False
False
True

In [4]:
"$".join(str_1.split(" "))

'Hello$World,$World,$new$World$'

In [19]:
str_1.partition("World")

('Hello ', 'World', ', World, new World ')

In [131]:
x= "GHost"
print(x.swapcase())

ghOST

In [134]:
str_1.format(1,3) #?
#str_1.format?

In [8]:
str_1.index("hi")

24

In [57]:
str_1.isdigit()

False

In [33]:
str_1.center(100)

'                                    hello , welcome , bye , hi                                      '

In [38]:
str_1.endswith(" ")

True

In [18]:
str_1.istitle()

False

In [57]:
y.isdecimal()

False

# List

### declaration

In [17]:
lis_1 = list("1,2,3") #list creation 
lis_1

['1', ',', '2', ',', '3']

In [46]:
lis_2 =["",""] #blank or empty square brackets also a list
lis_2

['', '']

In [13]:
x= "abcd"
print(type(x))
a= list(x)
type(a)

<class 'str'>

list

# Accessing elements using :-

### for loop - for access every single elements in a seq

In [15]:
a1= ["squirtle ","charmander ","bulbasaur ",121,24,23.3]
for i in a1:
    print(i)

squirtle
charmander
bulbasaur
121
24
23.3

### indexing , subsetting , slicing

In [3]:
a2= [12,23,324,"xyz",33.3,12,"hello","espanol",22]
a2

[12, 23, 324, 'xyz', 33.3, 12, 'hello', 'espanol', 22]

In [30]:
a2[3] #fetches 4th element

'xyz'

In [23]:
a2[::2]

[12, 324, 33.3, 'hello', 22]

In [32]:
a2[-2] #fetches last 2nd element

'espanol'

In [33]:
a2[:3] #fetches first 3 element

[12, 23, 324]

In [35]:
a2[0:6] #fetches from 1st to 6th

[12, 23, 324, 'xyz', 33.3, 12]

In [36]:
a2[4:7] # from 5th to 7th

[33.3, 12, 'hello']

In [42]:
a2[-3:] #last three element

['hello', 'espanol', 22]

In [62]:
a2[-3:-1] #if we want only 3rd element and 2th element from the last

['hello', 'espanol']

In [51]:
a2[:] #colon means all

[12, 23, 324, 'xyz', 33.3, 12, 'hello', 'espanol', 22]

In [63]:
a2[::-1] #reverse the list

[22, 'espanol', 'hello', 12, 33.3, 'xyz', 324, 23, 12]

In [68]:
a2[:-2] #remove last two elements

[12, 23, 324, 'xyz', 33.3, 12, 'hello']

In [73]:
a2[::-2] #reverse the list and remove with a gap one 1 element

[22, 'hello', 33.3, 324, 12]

In [97]:
a, b, c, d = [
    1, 2, 3, 4
]
print(a,b,c,d)
print(type(a))

1 2 3 4
<class 'int'>

## extra

In [1]:
a = int(input("no of st: "))
marks = input()
cm=0
gn=0
cr=0
for mark in marks:
    gn+=1
    if mark!=cm:
        cm=mark
        cr=gn
    print(cm,cr)

no of st: 6
77
7 1
7 1

In [5]:
l2= []
cm=0
gn=0
cr=0
n =input("enter n students: ")

for i in range(0,n):
    eles=input("enter marks: ")
    
    l2.append(eles)
    print(l2)

enter n students: 6

TypeError: 'str' object cannot be interpreted as an integer

# Dictionary

##  1. Declaration

In [3]:
data1= {"name":"abc", "age":23,"role":"sd"}
data1

{'name': 'abc', 'age': 23, 'role': 'sd'}

## Accessing data using for loop

In [4]:
for i in data1: #prints only keys
    print(i)

name
age
role

In [5]:
for i in data1.items(): #prints keys ana values in tuple forms
    print(i)

('name', 'abc')
('age', 23)
('role', 'sd')

In [6]:
for i in data1.values(): #prints only values
    print(i)

abc
23
sd

## 2. indexing

In [12]:
data1["name"]

'abc'

In [13]:
data1["age"]=22 #changing value using indexing

In [14]:
data1

{'name': 'abc', 'age': 22, 'role': 'sd'}

In [35]:
 if "def" in data1.values(): #testing abc lies on dictionary or not
    print("yes")
else: 
    print("no")

yes

## 3. Update

In [32]:
data2= {"name":"def", "age":22, "role":"da"}
data3 = data1.update(data2)
print(data1) #update will remove the values of data1 and add there data2 values

{'name': 'def', 'age': 22, 'role': 'da'}

## 4. delete

In [43]:
del data1 #delete the data1
del data2["name"] # delete name key 
data2

{'age': 22, 'role': 'da'}

## 5. POP

In [45]:
data2.pop('age') #pop the age value
data2

{'role': 'da'}

## 6. get()

In [51]:
#to get key values 
print(data2.get("role")) 
data2.get("role","nothing found") #it will shows key values if key exists otherwise nothing found

da

'da'

## 7. clear()

In [53]:
data2.clear() #clear the data keys and values
data2

{}

# Tuples

In [62]:
name1 =()
type(name)

tuple

In [61]:
name2= "I am someone"
b= tuple(name2)
b

('I', ' ', 'a', 'm', ' ', 's', 'o', 'm', 'e', 'o', 'n', 'e')

In [64]:
name3 = ("abdc",33) 
name3

('abdc', 33)

In [66]:
n4= tuple(range(0,10))
n4

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [67]:
#question
d1=(10)
d2=(10,)
print(type(d1))
print(type(d2))

<class 'int'>
<class 'tuple'>

In [69]:
data1= (1,2,3,4,5)
for i in data1:
    print(i)

1
2
3
4
5

## 1. indexing , slicing

In [71]:
data1[0] #indexing

1

In [72]:
data1[0:2] #slicing

(1, 2)

In [80]:
data1[2:-1] # :-1 means drop the last value , -1 extract last value

(3, 4)

## 2. len()

In [85]:
len(data1)

5

## 3. List inside tuple

In [106]:
data2= (1,2,["danial radcliff",30,"albus",200])
data2

(1, 2, ['danial radcliff', 30, 'albus', 200])

In [92]:
#after inserting list we can perform list operations only on list

In [107]:
data2[2].pop()
print(data2)# removes 200

(1, 2, ['danial radcliff', 30, 'albus'])

In [108]:
data2[2].append(220)
print(data2) #append a new data only on list

(1, 2, ['danial radcliff', 30, 'albus', 220])

In [111]:
data2[2].remove(30) #remove the 30 
print(data2)

(1, 2, ['danial radcliff', 'albus', 220])

## 4. max, min

In [113]:
data3 =(1,2,3,3,45,5 ,252) #if there is a list in tuple, max() does not work 
max(data3)

252

In [114]:
min(data3) #minimum value

1

# SET

In [136]:
data={1,2,3,2,1} #prints only distinct values
data

{1, 2, 3}

In [1]:
data=["1",6,"fjh"] #converting from dict to set 
print(type(data))
data= set(data)
print(data)
print(type(data))

<class 'list'>
{'fjh', '1', 6}
<class 'set'>

## 1. Accessing data using loop

In [142]:
for i in data:
    print(i)

1
6
fjh

## 2. Methods and Operations

## 2.1 Add

In [2]:
data.add(23) #sequencing ?
data

{'1', 23, 6, 'fjh'}

In [3]:
data.add("hello") 
data

{'1', 23, 6, 'fjh', 'hello'}

In [4]:
data.add(-22) #makes sense
data

{-22, '1', 23, 6, 'fjh', 'hello'}

In [5]:
data.add("hi") #got it
data

{-22, '1', 23, 6, 'fjh', 'hello', 'hi'}

In [6]:
data.add(3) #how?
data

{-22, '1', 23, 3, 6, 'fjh', 'hello', 'hi'}

In [7]:
data.add(33) #how?
data

{-22, '1', 23, 3, 33, 6, 'fjh', 'hello', 'hi'}

In [8]:
data.add(77) #cleared , following the sequence of numbers
data

{-22, '1', 23, 3, 33, 6, 77, 'fjh', 'hello', 'hi'}

## 2.2 indexing

In [154]:
"No indexing"

'No indexing'

## 2.3 Remove

In [155]:
data.remove("hello") #pass the values not index
data

{-22, '1', 23, 3, 33, 6, 'fjh', 'hi'}

## 2.4 "IN" keyword

In [163]:
if "1" in data:
    print ("yes")
else:
    print("no")

yes

## 2.5 clear

In [166]:
data.clear() #empty data gives output as set
data

set()

## 2.6 Copy()

In [168]:
data1= data.copy() #copy the data 
data1

set()

## 2.7 Union, intersection , difference

In [174]:
#union
data1= {1,2,3,4} 
data2= {3,4,5,6}

data3= data1 | data2 #concat the sets and return distinct values
print(data3)

{1, 2, 3, 4, 5, 6}

In [175]:
#intersection
data1= {1,2,3,4}
data2= {3,4,5,6}

data3= data1 & data2 #returns only common values in both data's
print(data3)

{3, 4}

In [179]:
#difference
data1= {1,2,3,4}
data2= {3,4,5,6}

data3= data1.difference(data2) #returns the unmatched values from data 1
print(data3)

{1, 2}

# Functions

In [205]:
# find max value from 3 values
def max_value(a,b,c):
    if a>b :
        if a>c:
            return a
        else:
            return c
    if b>c:
        return b
    else:
        return c
max_value(111,222,332)

332

In [206]:
max_value(444,32,323)

444

In [207]:
max_value(446,698,77)

698

In [210]:
# extract the last char from a string

def char(a):
    return a[-1]
a="hello"

print(char(a))

o

## Lambda Function , Map , Zip

In [211]:
add= lambda x,y:x+y

add(10,20)

30

In [228]:
#convert string into int using for loop

x=["23","25"]

for i in range(len(x)):
    x[i]=int(x[i])
    
print(x)

[23, 25]

In [238]:
#convert string into int using map function

x=["23","24"]

x= list(map(int,x)) #using map we can convert to any datatype faster than for loop

print(x)

[23, 24]

In [245]:
#square number using map

x=["23","25"]
x= list(map(float,x))
x= list(map(lambda x:x*x,x))

print(x)

[529.0, 625.0]

In [247]:
d1=[1,2,3,4]
d2=[3,4,5,6]

list(zip(d1,d2))

[(1, 3), (2, 4), (3, 5), (4, 6)]

In [25]:
for x1 , x2 in enumerate("abcde"):
    print(x1,x2)

0 a
1 b
2 c
3 d
4 e