#aim of the project

----> 1.trying to simple as much as simple 

----> 2.trying to adjust song in a manner that I get  trending reels audio  based on their time, reels count.

In [36]:
import pandas as pd
import numpy as np 
import seaborn as sns

In [4]:
audio_list= dict({"Sno":1, "Name":"indian_unplugged.in", "Reels":948, "Time":"1:00"})

In [5]:
audio_list

{'Sno': 1, 'Name': 'indian_unplugged.in', 'Reels': 948, 'Time': '1:00'}

In [14]:
audio_list= dict({"Sno":[1,2],"Name":["Original Audio","Original Audio"], "Author":["indian_unplugged.in","agus_syaputra66"],"Reels":[948,3600],"Time":["1:00","0:53"]})

In [15]:
audio_list

{'Sno': [1, 2],
 'Name': ['Original Audio', 'Original Audio'],
 'Author': ['indian_unplugged.in', 'agus_syaputra66'],
 'Reels': [948, 3600],
 'Time': ['1:00', '0:53']}

In [16]:
audio=pd.DataFrame(audio_list)

In [17]:
audio

   Sno            Name               Author  Reels  Time
0    1  Original Audio  indian_unplugged.in    948  1:00
1    2  Original Audio      agus_syaputra66   3600  0:53

In [27]:
audio.append(2,"Original Audio","kd_karan_offil",713,"0:25")

TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid

In [30]:
audio.loc[2]=[3,"Original Audio","kd_karan_offil",713,"0:25"]

In [33]:
audio

   Sno            Name               Author  Reels  Time
0    1  Original Audio  indian_unplugged.in    948  1:00
1    2  Original Audio      agus_syaputra66   3600  0:53
2    3  Original Audio       kd_karan_offil    713  0:25
3    4  Original Audio            sumeet.69    311  0:34

In [32]:
audio.loc[3]=[4,"Original Audio","sumeet.69",311,"0:34"]