In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
print(23*34)

782

In [11]:
j="TExttobesplit"
j.split(" ")

['TExttobesplit']

In [ ]:
prime number 

2,3,5,7 

1) greater than 1
2) except 2 , they are not divisible by 2 (no factors)

# for prime number

In [23]:
#prime number

num=int(input())
flag=False

if(num>1):
    for i in range(2,num):
            if(num%i==0):
                flag= True
                break
if flag==True:
    print(num,"not prime")
else:
    print(num,"prime")

27
27 not prime

# factors of a number

In [41]:
#factors
#1) given number divisible by any other numbers like 4 is divisible by 2,4

In [47]:
#factors of a number

def factors(num):
    for i in range(1,num+1):
        if(num%i==0):
            print(i)
        
factors(34)

1
2
17
34

# factorial of a number

In [49]:
#factorial 

#0!=1 
#5!=5*4*3*2*1=120

In [78]:
#factorial

def factori(num):
    x=1
    if (num<0):
        print("factorial does not exist")
    elif(num==0):
        print(1)
    else:
        for i in range(1,num+1):
            x= x*i 
            
    print("the factorial of",num,"is",x)
            
factori(6)

the factorial of 6 is 720

# armstrong number

In [6]:
#if number's cube of a three digit number sum ,gave the same number 
#153 is armstrong number like 1*1*1+5*5*5+3*3*3=1+125+27=153

num=int(input())

for i in range(1,num+1):
    if(num>0):
        x=num%10
        y=x*x*x

0

153

In [3]:
#even odd number

In [7]:
i= int(input())
if(i>0):
    if(i%2==0):
        print("Even number",i)
    else:
        print("odd",i)
else:
    print("give number above than 0")

44
Even number 44

# leap year

In [19]:
i=int(input())
if(i>0):
    if(i%4==0):
        print("leap year")
    else:
        print("not a leap year")
else:
    print("number should be greater than 0")

2036
leap year

# text reverse

In [30]:
def rev(a):
    a=a[::-1]
    print(a)
    
rev("abca23")

32acba

# palindrome number

In [ ]:
#111= 111

In [14]:
#palindrome num

number=input()
if number==number[::-1]:
    print("palindrome",number)
else:
    print("not a palindrome")

1121
no

In [2]:
number = input() 

if number == number[::-1]: 

    print("it is a palindrome!") 

else: 

    print("it is not a palindrome!")

121
it is a palindrome!

# Count the Character

In [34]:
x=input()
count=0

for i in x:
    count=count+1
print(count)

579
3

# number guessing game

In [44]:
for i in range(2):
    value= np.random.randint(1,5)
    i=int(input())
    if i==value:
        print("your guess",i)
        print("real number",value)
        print("you win")
    else:
        print("your guess",i)
        print("real number",value)
        print("you lost")

5
your guess 5
real number 3
you lost
3
your guess 3
real number 1
you lost

# Find LCM

In [35]:
def compute_lcm(x,y):
    if x>y:
        greater=x
    else:
        greater =y
    
    while(True):
        if((greater % x==0) and (greater % y==0)):
            lcm=greater
            break
        greater+=1
            
    return lcm

num=int(input("first number:"))
num1=int(input("second number:"))

print("lcm of",num,num1, "is",compute_lcm(num,num1))

first number:160
second number:12
lcm of 160 12 is 480

# check all numbers are unique

In [15]:
def num(n):
    if(len(n))==len(set(n)):
        return True
    else:
        return False
            
num([1,6,68,33])

True

# write a program to match a string that has a letter "a" followed by 4 to 8 "b"s

In [51]:
import re

def match(x):
    pattern= 'ab{4,8}'
    if re.search(pattern,x):
        return "matched"
    else:
        return "not matched"
    
match("aaaabbbbbbbbb")

'matched'

# convert datetime from yyyy-mm-dd to dd-mm-yy

In [65]:
from datetime import datetime
x=input()
new_date= datetime.strptime(x,"%Y-%m-%d").strftime("%d-%m-%Y")
print(new_date)

2022-08-11
11-08-2022

# combine two dictionaries , if you find same key you can add values of these same keys

In [68]:
from collections import Counter
d1={"a1":50,"a2":75,"a3":100}
d2={"b1":67,"b2":75,"b3":123}

new_dict= Counter(d1)+Counter(d2)

print(new_dict)

Counter({'b3': 123, 'a3': 100, 'a2': 75, 'b2': 75, 'b1': 67, 'a1': 50})

In [1]:
#count the characters

In [16]:
s=input()
{x:s.count(x) for x in set(s)}

asbvjs

{'b': 1, 'v': 1, 's': 2, 'a': 1, 'j': 1}