# Data Manipulation with pandas

In [1]:
import pandas as pd
import numpy as np

# Program so far 
***
- Python Basics
- Python Programming Constructs
- Data Structures
- Functions
- Object Oriented Programming in Python
- NumPy
- Pandas



# What are we going to learn today?
***
- DataFrame Basics
- Reading Data into DataFrame
- Data Manipulation and Transformations
- Pivot Tables and Group By
- Merging Data


# DataFrame Basics
***
We'll talk about
- Creating DataFrames
- Shape and Rank
- Reading DataFrames from File
- Index

<img src="../images/icon/Technical-Stuff.png" alt="Concept-Alert" style="width: 100px;float:left; margin-right:15px"/>
<br /> 
## How do I create DataFrames?
***
DataFrames can be created from lists, or read from files

<div class="alert alert-block alert-success">**Creating DataFrames manually**</div>

In [2]:
import pandas as pd
import numpy as np

df = pd.DataFrame([[1, 2, 3],
                   [3, 4, 5],
                   [5, 6, 7],
                   [7, 8, 9]])
df

   0  1  2
0  1  2  3
1  3  4  5
2  5  6  7
3  7  8  9

In [5]:
df = pd.DataFrame([[1, 2, 3], [3, 4, 5], [5, 6, 7], [7, 8, 9]])

print(("Shape:", df.shape))
print(("Index:", df.index))

df.head??

('Shape:', (4, 3))
('Index:', RangeIndex(start=0, stop=4, step=1))

<div class="alert alert-block alert-success">**Understanding the Index**</div>

In [4]:
df2 = pd.DataFrame([[1, 2, 3], [3, 4, 5], [5, 6, 7], [7, 8, 9]],
                   index=['a', 'b', 'c', 'd'], columns=['x', 'y', 'z'])

print(("Shape:", df.shape))
print(("Index:", df.index))

df2

('Shape:', (4, 3))
('Index:', RangeIndex(start=0, stop=4, step=1))

   x  y  z
a  1  2  3
b  3  4  5
c  5  6  7
d  7  8  9

<div class="alert alert-block alert-success">**Creating DataFrames manually: Hierarchical Index**</div>

In [5]:
outside = ['G1']*3 + ['G2']*3  # G1 repeated thrice, then G2 repeated thrice
inside = [1, 2, 3, 1, 2, 3]  # 1,2,3 repeated twice

hier_index = list(zip(outside,inside))
print(hier_index)
 
hier_index = pd.MultiIndex.from_tuples(hier_index)
print(hier_index)

hier_df = pd.DataFrame(np.random.randn(6,2), index=hier_index, columns=['A','B'])

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]
MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [6]:
print(("Shape:", hier_df.shape))
print(("Index:", hier_df.index))

hier_df

('Shape:', (6, 2))
('Index:', MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]]))

             A         B
G1 1  0.084310 -0.046187
   2 -1.964551  1.888227
   3 -1.682949 -0.693031
G2 1 -1.917585 -0.211014
   2 -0.720763 -1.789181
   3 -0.811274 -1.461477

# The Weather Dataset: Reading DataFrames from Files
***
The Weather Dataset is a time-series data set with per-hour information about the weather conditions at a particular location. It records Temperature, Dew Point Temperature, Relative Humidity, Wind Speed, Visibility, Pressure, and Conditions.


This data is available as a CSV file. We are going to analyze this data set using the Pandas DataFrame.

In [7]:
# Read the data:

weather_df = pd.read_csv("D:\DATA SCIENCE\python\DataScience\python al docs\Slack_Docs\CSVs Data Set/weather_2012.csv")

print(("Shape:", weather_df.shape))
print(("Index:", weather_df.index))
weather_df

('Shape:', (8784, 8))
('Index:', RangeIndex(start=0, stop=8784, step=1))

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog
5,2012-01-01 05:00:00,-1.4,-3.3,87,9,6.4,101.27,Fog
6,2012-01-01 06:00:00,-1.5,-3.1,89,7,6.4,101.29,Fog
7,2012-01-01 07:00:00,-1.4,-3.6,85,7,8.0,101.26,Fog
8,2012-01-01 08:00:00,-1.4,-3.6,85,9,8.0,101.23,Fog
9,2012-01-01 09:00:00,-1.3,-3.1,88,15,4.0,101.20,Fog
10,2012-01-01 10:00:00,-1.0,-2.3,91,9,1.2,101.15,Fog
11,2012-01-01 11:00:00,-0.5,-2.1,89,7,4.0,100.98,Fog
12,2012-01-01 12:00:00,-0.2,-2.0,88,9,4.8,100.79,Fog
13,2012-01-01 13:00:00,0.2,-1.7,87,13,4.8,100.58,Fog
14,2012-01-01 14:00:00,0.8,-1.1,87,20,4.8,100.31,Fog
15,2012-01-01 15:00:00,1.8,-0.4,85,22,6.4,100.07,Fog
16,2012-01-01 16:00:00,2.6,-0.2,82,13,12.9,99.93,Mostly Cloudy
17,2012-01-01 17:00:00,3.0,0.0,81,13,16.1,99.81,Cloudy
18,2012-01-01 18:00:00,3.8,1.0,82,15,12.9,99.74,Rain
19,2012-01-01 19:00:00,3.1,1.3,88,15,12.9,99.68,Rain
20,2012-01-01 20:00:00,3.2,1.3,87,19,25.0,99.50,Cloudy
21,2012-01-01 21:00:00,4.0,1.7,85,20,25.0,99.39,Cloudy
22,2012-01-01 22:00:00,4.4,1.9,84,24,19.3,99.32,Rain Showers
23,2012-01-01 23:00:00,5.3,2.0,79,30,25.0,99.31,Cloudy
24,2012-01-02 00:00:00,5.2,1.5,77,35,25.0,99.26,Rain Showers
25,2012-01-02 01:00:00,4.6,0.0,72,39,25.0,99.26,Cloudy
26,2012-01-02 02:00:00,3.9,-0.9,71,32,25.0,99.26,Mostly Cloudy
27,2012-01-02 03:00:00,3.7,-1.5,69,33,25.0,99.30,Mostly Cloudy
28,2012-01-02 04:00:00,2.9,-2.3,69,32,25.0,99.26,Mostly Cloudy
29,2012-01-02 05:00:00,2.6,-2.3,70,32,25.0,99.21,Mostly Cloudy
...,...,...,...,...,...,...,...,...
8754,2012-12-30 18:00:00,-12.6,-16.0,76,24,25.0,101.36,Mainly Clear
8755,2012-12-30 19:00:00,-13.4,-16.5,77,26,25.0,101.47,Mainly Clear
8756,2012-12-30 20:00:00,-13.8,-16.5,80,24,25.0,101.52,Clear
8757,2012-12-30 21:00:00,-13.8,-16.5,80,20,25.0,101.50,Mainly Clear
8758,2012-12-30 22:00:00,-13.7,-16.3,81,19,25.0,101.54,Mainly Clear
8759,2012-12-30 23:00:00,-12.1,-15.1,78,28,25.0,101.52,Mostly Cloudy
8760,2012-12-31 00:00:00,-11.1,-14.4,77,26,25.0,101.51,Cloudy
8761,2012-12-31 01:00:00,-10.7,-14.0,77,15,25.0,101.50,Cloudy
8762,2012-12-31 02:00:00,-10.1,-13.4,77,9,25.0,101.45,Cloudy
8763,2012-12-31 03:00:00,-11.8,-14.4,81,6,25.0,101.42,Mostly Cloudy
8764,2012-12-31 04:00:00,-10.5,-12.8,83,11,25.0,101.34,Cloudy
8765,2012-12-31 05:00:00,-10.2,-12.4,84,6,25.0,101.28,Cloudy
8766,2012-12-31 06:00:00,-9.7,-11.7,85,4,25.0,101.23,Cloudy
8767,2012-12-31 07:00:00,-9.3,-11.3,85,0,19.3,101.19,Snow Showers
8768,2012-12-31 08:00:00,-8.6,-10.3,87,4,3.2,101.14,Snow Showers
8769,2012-12-31 09:00:00,-8.1,-9.6,89,4,2.4,101.09,Snow
8770,2012-12-31 10:00:00,-7.4,-8.9,89,4,6.4,101.05,"Snow,Fog"
8771,2012-12-31 11:00:00,-6.7,-7.9,91,9,9.7,100.93,Snow
8772,2012-12-31 12:00:00,-5.8,-7.5,88,4,12.9,100.78,Snow
8773,2012-12-31 13:00:00,-4.6,-6.6,86,4,12.9,100.63,Snow
8774,2012-12-31 14:00:00,-3.4,-5.7,84,6,11.3,100.57,Snow
8775,2012-12-31 15:00:00,-2.3,-4.6,84,9,9.7,100.47,Snow
8776,2012-12-31 16:00:00,-1.4,-4.0,82,13,12.9,100.40,Snow
8777,2012-12-31 17:00:00,-1.1,-3.3,85,19,9.7,100.30,Snow
8778,2012-12-31 18:00:00,-1.3,-3.1,88,17,9.7,100.19,Snow
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow


# How to Analyze DataFrames?
***

## `.info()`
***
Provides basic information about the dataframe: rows, columns, types (if automatically detected)

In [8]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
Date/Time             8784 non-null object
Temp (C)              8784 non-null float64
Dew Point Temp (C)    8784 non-null float64
Rel Hum (%)           8784 non-null int64
Wind Spd (km/h)       8784 non-null int64
Visibility (km)       8784 non-null float64
Stn Press (kPa)       8784 non-null float64
Weather               8784 non-null object
dtypes: float64(4), int64(2), object(2)
memory usage: 480.4+ KB

## `.head()`
***
Similar to the linux `head` command. Shows the first N rows in the data (by default, N=5).

In [9]:
weather_df.head( )

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

## `.index`
***
This attribute provides the `index` of the dataframe

In [10]:
weather_df.index

RangeIndex(start=0, stop=8784, step=1)

## `.unique()`
***
This method, which belongs to the `Series` object, can be useful when trying to identify unique values in a column

In [11]:
weather_df['Weather'].unique()

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Rain,Fog', 'Freezing Rain', 'Freezing Drizzle',
       'Rain,Snow', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Freezing Rain,Snow Grains', 'Snow,Blowing Snow', 'Freezing Fog',
       'Haze', 'Rain,Fog', 'Drizzle,Fog', 'Drizzle',
       'Freezing Drizzle,Haze', 'Freezing Rain,Haze', 'Snow,Haze',
       'Snow,Fog', 'Snow,Ice Pellets', 'Rain,Haze', 'Thunderstorms,Rain',
       'Thunderstorms,Rain Showers', 'Thunderstorms,Heavy Rain Showers',
       'Thunderstorms,Rain Showers,Fog', 'Thunderstorms',
       'Thunderstorms,Rain,Fog',
       'Thunderstorms,Moderate Rain Showers,Fog', 'Rain Showers,Fog',
       'Rain Showers,Snow Showers', 'Snow Pellets', 'Rain,Snow,Fog',
       'Moderate Rain,Fog', 'Freezing Rain,Ice Pellets,Fog',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Rain,Ice Pellets',
       'Drizzle,Snow,Fog', 'Rain,Snow Grains', 'Rain,Snow,Ice Pellets',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)

<div class="alert alert-block alert-info">**Find all the unique Wind Speed values recorded in the dataset**</div>

In [12]:
# Code your solution here
weather_df['Wind Spd (km/h)'].unique()

array([ 4,  7,  6,  9, 15, 13, 20, 22, 19, 24, 30, 35, 39, 32, 33, 26, 44,
       43, 48, 37, 28, 17, 11,  0, 83, 70, 57, 46, 41, 52, 50, 63, 54,  2],
      dtype=int64)

## `.nunique()`
***
This method, which belongs to the `Series` object, can be useful when trying to identify the number of unique values in a column

In [13]:
weather_df['Weather'].nunique()

50

## `.value_counts()`
***
This method, which belongs to the `Series` object, can be useful when trying to identify unique values and their counts in a column

In [30]:
weather_df['Weather'].value_counts()

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Haze                                         16
Thunderstorms,Rain Showers                   16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Snow,Ice Pellets                              6
Freezing Drizzle,Fog                          6
Snow,Haze                                     5
Freezing Fog                                  4
Moderate Snow                                 4
Rain,Snow,Ice Pellets                         4
Freezing Rain,Fog                             4
Snow Showers,Fog                              4
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers,Fog                3
Rain,Haze                                     3
Freezing Drizzle,Haze                         3
Rain Showers,Snow Showers                     2
Moderate Snow,Blowing Snow                    2
Freezing Rain,Haze                            2
Drizzle,Snow                                  2
Thunderstorms                                 2
Rain,Ice Pellets                              1
Rain,Snow Grains                              1
Thunderstorms,Heavy Rain Showers              1
Rain,Snow,Fog                                 1
Freezing Rain,Snow Grains                     1
Moderate Rain,Fog                             1
Drizzle,Ice Pellets,Fog                       1
Thunderstorms,Moderate Rain Showers,Fog       1
Thunderstorms,Rain,Fog                        1
Freezing Rain,Ice Pellets,Fog                 1
Rain Showers,Fog                              1
Snow Pellets                                  1
Name: Weather, dtype: int64

<div class="alert alert-block alert-info">**Find the number of times when the weather was exactly 'Clear'**</div>

In [31]:
value_counts = weather_df['Weather'].value_counts()
print(value_counts)

# How can we get the count for Clear ?

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Haze                                         16
Thunderstorms,Rain Showers                   16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Snow,Ice Pellets                              6
Freezing Drizzle,Fog                          6
Snow,Haze                                     5
Freezing Fog                                  4
Moderate Snow                                 4
Rain,Snow,Ice Pellets                         4
Freezing Rain,Fog                             4
Snow Showers,Fog                              4
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers,Fog                3
Rain,Haze                                     3
Freezing Drizzle,Haze                         3
Rain Showers,Snow Showers                     2
Moderate Snow,Blowing Snow                    2
Freezing Rain,Haze                            2
Drizzle,Snow                                  2
Thunderstorms                                 2
Rain,Ice Pellets                              1
Rain,Snow Grains                              1
Thunderstorms,Heavy Rain Showers              1
Rain,Snow,Fog                                 1
Freezing Rain,Snow Grains                     1
Moderate Rain,Fog                             1
Drizzle,Ice Pellets,Fog                       1
Thunderstorms,Moderate Rain Showers,Fog       1
Thunderstorms,Rain,Fog                        1
Freezing Rain,Ice Pellets,Fog                 1
Rain Showers,Fog                              1
Snow Pellets                                  1
Name: Weather, dtype: int64

<div class="alert alert-block alert-info">**Find the number of times when the wind speed was exactly 4 km/h**</div>

In [33]:
# Your solution here

weather_df['Wind Spd (km/h)'].value_counts()[4]

474



# Data Manipulation : Gets you desired results
***
The true power of the Pandas DataFrame is the ease and flexibility of manipulating data to get your desired results.

## Selection (Part 1)
***
How do you select particular rows/columns from the DataFrame ?

The DataFrame object supports indexing operations just like the Python `list` class and the Pandas Series object, but much more powerful.

<div class="alert alert-block alert-info">**Get the Weather column in the `weather_df` dataframe**</div>

In [34]:
col = weather_df['Weather' ]

print((type(col)))
# col.head()

<class 'pandas.core.series.Series'>

<div class="alert alert-block alert-info">**Get the Weather and Temperature columns from the `weather_df` dataframe**</div>

In [35]:
two_cols = weather_df[['Weather', 'Temp (C)']]

print((type(two_cols)))
# two_cols.head()

<class 'pandas.core.frame.DataFrame'>

<div class="alert alert-block alert-info">**Get the first 25 rows from the `weather_df` dataframe**</div>
***
**Important**: This slicing would work even if the row index had non-numeric labels, because slicing works here the same way as a list

In [36]:
weather_df[:25].head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

<div class="alert alert-block alert-info">**Get the first 3 alternating rows from the `weather_df` dataframe, but only the Visibility and Relative Humidity columns**</div>

In [37]:
# solution 1
result1 = weather_df[:6:2][['Rel Hum (%)', 'Visibility (km)']]

# solution 2
result2 = weather_df[['Rel Hum (%)', 'Visibility (km)']][:6:2]

# are they the same?
result1 == result2

   Rel Hum (%)  Visibility (km)
0         True             True
2         True             True
4         True             True

#### So which of the two solutions should you use?

**Answer**: Neither. Because we're indexing more than once (Chained Indexing)

Let's analyse (break down) one of the above solutions.

In [38]:
# first indexing
df1 = weather_df[:6:2]

# second indexing
df2 = df1[['Rel Hum (%)', 'Visibility (km)']]

While both results are correct in this **read-only** case, chained indexing may give unpredictable behaviours when **writing** to a dataframe.

This is because indexing could either return a "view" (of slices of the dataframe), or a copy of the dataframe.

## Selection (Part 2)
***
Pandas provides a powerful way to work with both rows and columns together, optionally using their label indices or numeric indices.

- **`.loc :`**<br/>
Purely label-location based indexer for selection by label (but may also be used with a boolean array).<br/>
**Important: If you use slicing in loc, it will return the end index as well**
<br/><br/>

- **`.iloc:`**<br/>
Purely integer-location based indexing for selection by position (but may also be used with a boolean array).

<div class="alert alert-block alert-info">**Get the first 3 alternating rows from the `weather_df` dataframe, but only the Visibility and Relative Humidity columns**</div>

In [21]:
# Using loc
# NOTE: slice is `:5:2`, not 6 !
weather_df.loc[:5:2, ['Rel Hum (%)', 'Visibility (km)']]

   Rel Hum (%)  Visibility (km)
0           86              8.0
2           89              4.0
4           88              4.8

In [22]:
# Using iloc
weather_df.iloc[:6:2, [3,5]]

   Rel Hum (%)  Visibility (km)
0           86              8.0
2           89              4.0
4           88              4.8

### Upgrading the Weather DataFrame
***
We've been working with the weather dataframe with integer row indices. But the data is essentially time-series data. Can we do better?

In [14]:
weather_df2 = pd.read_csv('D:\DATA SCIENCE\python\DataScience\python al docs\Slack_Docs\CSVs Data Set/weather_2012.csv', parse_dates=True, index_col='Date/Time')
weather_df2.head()

,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
Date/Time,,,,,,,
2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [15]:
weather_df2 = pd.read_csv('D:\DATA SCIENCE\python\DataScience\python al docs\Slack_Docs\CSVs Data Set/weather_2012.csv', parse_dates=True, index_col='Date/Time')
weather_df2.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8784 entries, 2012-01-01 00:00:00 to 2012-12-31 23:00:00
Data columns (total 7 columns):
Temp (C)              8784 non-null float64
Dew Point Temp (C)    8784 non-null float64
Rel Hum (%)           8784 non-null int64
Wind Spd (km/h)       8784 non-null int64
Visibility (km)       8784 non-null float64
Stn Press (kPa)       8784 non-null float64
Weather               8784 non-null object
dtypes: float64(4), int64(2), object(1)
memory usage: 514.7+ KB

### What were the first 5 pressure values recorded on Jan 6 ?

In [16]:
weather_df2.loc['2012-01-06', 'Stn Press (kPa)'][:5]

Date/Time
2012-01-06 00:00:00    100.81
2012-01-06 01:00:00    100.81
2012-01-06 02:00:00    100.84
2012-01-06 03:00:00    100.76
2012-01-06 04:00:00    100.70
Name: Stn Press (kPa), dtype: float64



## Filtering
***

Anything that takes in data, processes it, and provides an output

Input Data âŸ¶ Filter âŸ¶ Output Data

### Find all instances when snow was recorded
***
Whether or not it snowed can be found out using the Weather column

In [45]:
weather_df2['Weather'].unique()

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Rain,Fog', 'Freezing Rain', 'Freezing Drizzle',
       'Rain,Snow', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Freezing Rain,Snow Grains', 'Snow,Blowing Snow', 'Freezing Fog',
       'Haze', 'Rain,Fog', 'Drizzle,Fog', 'Drizzle',
       'Freezing Drizzle,Haze', 'Freezing Rain,Haze', 'Snow,Haze',
       'Snow,Fog', 'Snow,Ice Pellets', 'Rain,Haze', 'Thunderstorms,Rain',
       'Thunderstorms,Rain Showers', 'Thunderstorms,Heavy Rain Showers',
       'Thunderstorms,Rain Showers,Fog', 'Thunderstorms',
       'Thunderstorms,Rain,Fog',
       'Thunderstorms,Moderate Rain Showers,Fog', 'Rain Showers,Fog',
       'Rain Showers,Snow Showers', 'Snow Pellets', 'Rain,Snow,Fog',
       'Moderate Rain,Fog', 'Freezing Rain,Ice Pellets,Fog',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Rain,Ice Pellets',
       'Drizzle,Snow,Fog', 'Rain,Snow Grains', 'Rain,Snow,Ice Pellets',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)

In [17]:
# Basically, we want a way to "filter out" records that don't have the word "snow" (case insensitive) in the last column

snowed_filter = weather_df2['Weather'].str.lower().str.contains('snow')
weather_df2[snowed_filter]

,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
Date/Time,,,,,,,
2012-01-02 17:00:00,-2.1,-9.5,57,22,25.0,99.66,Snow Showers
2012-01-02 20:00:00,-5.6,-13.4,54,24,25.0,100.07,Snow Showers
2012-01-02 21:00:00,-5.8,-12.8,58,26,25.0,100.15,Snow Showers
2012-01-02 23:00:00,-7.4,-14.1,59,17,19.3,100.27,Snow Showers
2012-01-03 00:00:00,-9.0,-16.0,57,28,25.0,100.35,Snow Showers
2012-01-03 02:00:00,-10.5,-15.8,65,22,12.9,100.53,Snow Showers
2012-01-03 03:00:00,-11.3,-18.7,54,33,25.0,100.61,Snow Showers
2012-01-03 05:00:00,-12.9,-19.1,60,22,25.0,100.76,Snow Showers
2012-01-03 06:00:00,-13.3,-19.3,61,19,25.0,100.85,Snow Showers
2012-01-03 07:00:00,-14.0,-19.5,63,19,25.0,100.95,Snow
2012-01-04 12:00:00,-13.7,-21.7,51,11,24.1,101.25,Snow
2012-01-04 14:00:00,-11.3,-19.0,53,7,19.3,100.97,Snow
2012-01-04 15:00:00,-10.2,-16.3,61,11,9.7,100.89,Snow
2012-01-04 16:00:00,-9.4,-15.5,61,13,19.3,100.79,Snow
2012-01-04 17:00:00,-8.9,-13.2,71,9,4.8,100.76,Snow
2012-01-04 18:00:00,-8.9,-12.6,75,11,9.7,100.69,Snow
2012-01-04 19:00:00,-8.4,-12.7,71,9,16.1,100.65,Snow
2012-01-04 20:00:00,-7.8,-12.1,71,9,16.1,100.61,Snow
2012-01-04 21:00:00,-7.6,-11.6,73,7,11.3,100.54,Snow
2012-01-04 22:00:00,-9.5,-12.7,77,6,9.7,100.50,Snow
2012-01-04 23:00:00,-9.6,-12.6,79,6,9.7,100.42,Snow
2012-01-05 00:00:00,-8.8,-11.7,79,4,9.7,100.32,Snow
2012-01-05 01:00:00,-7.5,-10.2,81,0,9.7,100.29,Snow
2012-01-05 02:00:00,-5.4,-8.3,80,9,8.0,100.28,Snow
2012-01-05 03:00:00,-5.0,-7.7,81,11,9.7,100.24,Snow
2012-01-05 04:00:00,-4.1,-6.5,83,9,4.8,100.21,Snow
2012-01-05 05:00:00,-7.0,-9.5,82,4,4.0,100.19,Snow
2012-01-05 06:00:00,-8.2,-10.7,82,6,6.4,100.26,Snow
2012-01-05 07:00:00,-7.1,-9.7,82,9,9.7,100.31,Snow
2012-01-05 08:00:00,-6.1,-9.1,79,11,9.7,100.39,Snow
...,...,...,...,...,...,...,...
2012-12-29 18:00:00,-9.3,-10.9,88,26,6.4,100.38,"Snow,Fog"
2012-12-29 19:00:00,-9.5,-11.2,87,26,3.2,100.33,"Snow,Fog"
2012-12-29 20:00:00,-9.7,-11.6,86,24,9.7,100.25,"Snow,Fog"
2012-12-29 21:00:00,-9.8,-11.8,85,24,8.0,100.24,"Snow,Fog"
2012-12-29 22:00:00,-10.1,-11.6,89,15,2.4,100.20,"Snow,Fog"
2012-12-29 23:00:00,-10.0,-12.0,85,20,6.4,100.19,"Snow,Fog"
2012-12-30 00:00:00,-9.6,-11.3,87,13,3.2,100.23,"Snow,Fog"
2012-12-30 01:00:00,-9.4,-10.5,92,9,2.4,100.22,"Snow,Fog"
2012-12-30 02:00:00,-9.3,-10.4,92,9,4.0,100.28,"Snow,Fog"
2012-12-30 03:00:00,-9.1,-10.4,90,11,3.6,100.30,"Snow,Fog"
2012-12-30 04:00:00,-9.3,-10.6,90,13,9.7,100.28,"Snow,Fog"
2012-12-30 05:00:00,-9.1,-10.4,90,11,4.0,100.32,"Snow,Fog"
2012-12-30 06:00:00,-9.3,-10.8,89,17,8.0,100.39,"Snow,Fog"
2012-12-31 07:00:00,-9.3,-11.3,85,0,19.3,101.19,Snow Showers
2012-12-31 08:00:00,-8.6,-10.3,87,4,3.2,101.14,Snow Showers
2012-12-31 09:00:00,-8.1,-9.6,89,4,2.4,101.09,Snow
2012-12-31 10:00:00,-7.4,-8.9,89,4,6.4,101.05,"Snow,Fog"
2012-12-31 11:00:00,-6.7,-7.9,91,9,9.7,100.93,Snow
2012-12-31 12:00:00,-5.8,-7.5,88,4,12.9,100.78,Snow
2012-12-31 13:00:00,-4.6,-6.6,86,4,12.9,100.63,Snow
2012-12-31 14:00:00,-3.4,-5.7,84,6,11.3,100.57,Snow
2012-12-31 15:00:00,-2.3,-4.6,84,9,9.7,100.47,Snow
2012-12-31 16:00:00,-1.4,-4.0,82,13,12.9,100.40,Snow
2012-12-31 17:00:00,-1.1,-3.3,85,19,9.7,100.30,Snow
2012-12-31 18:00:00,-1.3,-3.1,88,17,9.7,100.19,Snow
2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

<div class="alert alert-block alert-info">**Find all instances when wind speed was above 24 and visibility was 25**</div>

In [19]:
df = weather_df2[(weather_df2['Wind Spd (km/h)'] > 24) & (weather_df2['Visibility (km)']== 25)]
df

,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
Date/Time,,,,,,,
2012-01-01 23:00:00,5.3,2.0,79,30,25.0,99.31,Cloudy
2012-01-02 00:00:00,5.2,1.5,77,35,25.0,99.26,Rain Showers
2012-01-02 01:00:00,4.6,0.0,72,39,25.0,99.26,Cloudy
2012-01-02 02:00:00,3.9,-0.9,71,32,25.0,99.26,Mostly Cloudy
2012-01-02 03:00:00,3.7,-1.5,69,33,25.0,99.30,Mostly Cloudy
2012-01-02 04:00:00,2.9,-2.3,69,32,25.0,99.26,Mostly Cloudy
2012-01-02 05:00:00,2.6,-2.3,70,32,25.0,99.21,Mostly Cloudy
2012-01-02 06:00:00,2.3,-2.6,70,26,25.0,99.18,Mostly Cloudy
2012-01-02 07:00:00,2.0,-2.9,70,33,25.0,99.14,Mostly Cloudy
2012-01-02 18:00:00,-4.1,-11.4,57,28,25.0,99.86,Mostly Cloudy
2012-01-02 21:00:00,-5.8,-12.8,58,26,25.0,100.15,Snow Showers
2012-01-03 00:00:00,-9.0,-16.0,57,28,25.0,100.35,Snow Showers
2012-01-03 03:00:00,-11.3,-18.7,54,33,25.0,100.61,Snow Showers
2012-01-08 00:00:00,0.6,-3.2,76,32,25.0,100.72,Cloudy
2012-01-08 01:00:00,-0.6,-4.6,74,32,25.0,100.80,Mostly Cloudy
2012-01-08 02:00:00,-1.7,-6.2,71,30,25.0,100.98,Mostly Cloudy
2012-01-08 03:00:00,-3.5,-8.3,69,32,25.0,101.13,Mainly Clear
2012-01-10 00:00:00,2.5,-5.2,57,30,25.0,100.38,Cloudy
2012-01-10 01:00:00,2.3,-3.4,66,35,25.0,100.28,Snow
2012-01-10 03:00:00,1.6,-2.0,77,28,25.0,100.16,Snow
2012-01-10 04:00:00,1.2,-1.7,81,26,25.0,100.07,Cloudy
2012-01-11 19:00:00,-11.8,-19.2,54,30,25.0,101.43,Mostly Cloudy
2012-01-12 02:00:00,-9.4,-15.0,64,26,25.0,101.08,Cloudy
2012-01-12 03:00:00,-9.0,-14.7,63,33,25.0,101.02,Cloudy
2012-01-12 05:00:00,-8.0,-13.7,64,30,25.0,100.81,Cloudy
2012-01-12 06:00:00,-7.6,-13.1,65,28,25.0,100.76,Cloudy
2012-01-12 22:00:00,-4.1,-6.8,81,26,25.0,99.47,Snow
2012-01-14 07:00:00,-16.8,-22.2,63,26,25.0,100.73,Mostly Cloudy
2012-01-18 01:00:00,3.7,-2.1,66,83,25.0,98.36,Mostly Cloudy
2012-01-18 02:00:00,0.5,-4.0,72,70,25.0,98.62,Mostly Cloudy
...,...,...,...,...,...,...,...
2012-12-05 22:00:00,-1.6,-9.5,55,26,25.0,102.01,Mostly Cloudy
2012-12-09 20:00:00,-2.2,-7.2,69,28,25.0,102.11,Cloudy
2012-12-09 22:00:00,-3.0,-8.2,67,28,25.0,101.78,Cloudy
2012-12-09 23:00:00,-3.6,-8.6,68,32,25.0,101.64,Cloudy
2012-12-11 01:00:00,0.0,-3.6,77,28,25.0,99.99,Cloudy
2012-12-15 23:00:00,-9.9,-15.0,66,26,25.0,102.38,Cloudy
2012-12-16 02:00:00,-10.1,-14.6,70,28,25.0,102.17,Cloudy
2012-12-16 03:00:00,-10.1,-14.5,70,28,25.0,102.15,Cloudy
2012-12-16 06:00:00,-9.9,-14.6,68,35,25.0,101.93,Cloudy
2012-12-16 07:00:00,-9.8,-14.9,66,32,25.0,101.89,Cloudy
2012-12-20 23:00:00,1.2,-2.1,79,28,25.0,100.69,Cloudy
2012-12-21 00:00:00,1.9,-2.1,75,26,25.0,100.60,"Rain,Snow Grains"
2012-12-21 18:00:00,1.4,0.3,92,46,25.0,97.56,Rain
2012-12-23 01:00:00,-7.9,-11.8,74,32,25.0,100.27,Snow Showers
2012-12-23 02:00:00,-8.2,-12.5,71,30,25.0,100.36,Mostly Cloudy
2012-12-23 03:00:00,-8.2,-12.4,72,30,25.0,100.40,Cloudy
2012-12-23 04:00:00,-8.3,-12.7,71,28,25.0,100.43,Cloudy
2012-12-23 05:00:00,-8.5,-13.2,69,30,25.0,100.49,Cloudy
2012-12-23 06:00:00,-8.4,-12.3,73,26,25.0,100.51,Cloudy
2012-12-26 19:00:00,-9.6,-13.1,76,39,25.0,102.03,Cloudy
2012-12-26 20:00:00,-10.3,-12.9,81,28,25.0,101.88,Cloudy
2012-12-26 22:00:00,-9.7,-12.8,78,37,25.0,101.70,Cloudy
2012-12-27 00:00:00,-9.8,-12.5,81,30,25.0,101.46,Cloudy
2012-12-27 01:00:00,-9.4,-12.2,80,26,25.0,101.37,Cloudy
2012-12-27 02:00:00,-8.5,-11.3,80,30,25.0,101.31,Cloudy
2012-12-28 17:00:00,-8.6,-12.0,76,26,25.0,101.34,Mainly Clear
2012-12-30 17:00:00,-12.1,-15.8,74,28,25.0,101.26,Mainly Clear
2012-12-30 19:00:00,-13.4,-16.5,77,26,25.0,101.47,Mainly Clear
2012-12-30 23:00:00,-12.1,-15.1,78,28,25.0,101.52,Mostly Cloudy
2012-12-31 00:00:00,-11.1,-14.4,77,26,25.0,101.51,Cloudy

In [20]:
df.head()

,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
Date/Time,,,,,,,
2012-01-01 23:00:00,5.3,2.0,79,30,25.0,99.31,Cloudy
2012-01-02 00:00:00,5.2,1.5,77,35,25.0,99.26,Rain Showers
2012-01-02 01:00:00,4.6,0.0,72,39,25.0,99.26,Cloudy
2012-01-02 02:00:00,3.9,-0.9,71,32,25.0,99.26,Mostly Cloudy
2012-01-02 03:00:00,3.7,-1.5,69,33,25.0,99.30,Mostly Cloudy

## Summary / Cheatsheet: Selection/Indexing/Filtering
***
This is a handy reminder for what syntax will get what result.

Syntax | Function | Remarks
:--- | :--- | :---
**`df['some_label']`** |  Get the (single) Column referenced by name `some_label` | A **str** is provided
**`df[['label1', 'label2']]`** | Get multiple columns referenced by given names | A **list** is provided 
**`df[('label1', 'label2')]`** | Get a single Column referenced by the hierarchical column index | A **tuple** is provided
**`df[start:end:step]`** | Get corresponding rows (same as list slicing) | A **slicing operator**<br/> is provided
**`df[boolean array/df]`** | Get corresponding rows (same as list slicing) | A **filter object** is provided
**`df.loc [row_sel, col_sel]`** | Select specified rows and columns (by labels) | 
**`df.iloc[row_sel, col_sel]`** | Select specified rows and columns (by index) |

<img src="../images/icon/Concept-Alert.png" alt="Concept-Alert" style="width: 100px;float:left; margin-right:15px"/>
<br /> 

## Working with Columns
***
- Series operations
- Adding/Updating Columns
- Renaming Columns
- Deleting Columns

### Series Operations

In [48]:
add_10 = weather_df2["Wind Spd (km/h)"] + 10
add_10.head()

Date/Time
2012-01-01 00:00:00    14
2012-01-01 01:00:00    14
2012-01-01 02:00:00    17
2012-01-01 03:00:00    16
2012-01-01 04:00:00    17
Name: Wind Spd (km/h), dtype: int64

In [49]:
mult_2 = weather_df2['Visibility (km)'] * 2
mult_2.head()

Date/Time
2012-01-01 00:00:00    16.0
2012-01-01 01:00:00    16.0
2012-01-01 02:00:00     8.0
2012-01-01 03:00:00     8.0
2012-01-01 04:00:00     9.6
Name: Visibility (km), dtype: float64

In [50]:
temperature = weather_df2["Temp (C)"] + weather_df2["Dew Point Temp (C)"]
temperature.head()

Date/Time
2012-01-01 00:00:00   -5.7
2012-01-01 01:00:00   -5.5
2012-01-01 02:00:00   -5.2
2012-01-01 03:00:00   -4.7
2012-01-01 04:00:00   -4.8
dtype: float64

### Apply / Call Functions

In [51]:
weather_df2['Visibility (km)'].describe()

count    8784.000000
mean       27.664447
std        12.622688
min         0.200000
25%        24.100000
50%        25.000000
75%        25.000000
max        48.300000
Name: Visibility (km), dtype: float64

In [52]:
weather_df2['Visibility (km)'].min()

0.2

In [53]:
# Applying custom functions

def times2(value):
    return value * 2

t2 = weather_df2['Visibility (km)'].apply(times2)
t2.head()

Date/Time
2012-01-01 00:00:00    16.0
2012-01-01 01:00:00    16.0
2012-01-01 02:00:00     8.0
2012-01-01 03:00:00     8.0
2012-01-01 04:00:00     9.6
Name: Visibility (km), dtype: float64

### Adding/Updating Columns

In [54]:
visibility_in_meter = weather_df2["Visibility (km)"] * 1000  
weather_df2["Visibility (m)"] = visibility_in_meter

weather_df2.head()

,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather,Visibility (m)
Date/Time,,,,,,,,
2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,8000.0
2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,8000.0
2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",4000.0
2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",4000.0
2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,4800.0

### Renaming Columns

In [55]:
# Notice the "inplace=True" parameter !

weather_df2.rename(columns={'Visibility (m)': 'Visibility (meters)'}, inplace=True)
weather_df2.head()

,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather,Visibility (meters)
Date/Time,,,,,,,,
2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,8000.0
2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,8000.0
2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",4000.0
2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",4000.0
2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,4800.0

### Deleting Columns

In [56]:
# Since we have not mentioned inplace=True, it returns a new dataframe
weather_df2.drop(labels=['Visibility (meters)'], axis=1).head(3)

,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
Date/Time,,,,,,,
2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"

In [57]:
# Alternatively, you can also write
# del weather_df2['Visibility (meters)']

<img src="../images/icon/Technical-Stuff.png" alt="Concept-Alert" style="width: 100px;float:left; margin-right:15px"/>
<br /> 
## Sorting
***

In [58]:
sorted_by_temp = weather_df2.sort_values('Temp (C)', ascending=False)  # can be inplace as well
sorted_by_temp.head()

,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather,Visibility (meters)
Date/Time,,,,,,,,
2012-07-14 15:00:00,33.0,16.8,38,22,48.3,101.31,Mainly Clear,48300.0
2012-06-21 15:00:00,33.0,19.0,44,24,24.1,100.20,Mainly Clear,24100.0
2012-07-14 16:00:00,32.9,15.3,35,24,48.3,101.26,Mainly Clear,48300.0
2012-08-04 15:00:00,32.8,18.8,44,17,24.1,101.39,Clear,24100.0
2012-07-14 14:00:00,32.7,15.3,35,28,48.3,101.35,Mainly Clear,48300.0

### Which were the top 10 hottest values and their counts?

In [59]:
sorted_value_counts = weather_df2['Temp (C)'].value_counts().sort_values(ascending=False)
sorted_value_counts.iloc[:10]

16.6    65
1.1     58
0.8     47
1.5     45
19.3    44
21.1    43
2.6     43
0.4     41
1.3     40
14.6    39
Name: Temp (C), dtype: int64

### What is the mean temperature recorded by month?

In [60]:
# One Solution
mean_temperatures = {}

for month in range(1, 13):
    mean_temperatures[month] = weather_df2.loc[weather_df2.index.month == month, 'Temp (C)'].mean()

pd.Series(mean_temperatures)

1     -7.371505
2     -4.225000
3      3.121237
4      7.009306
5     16.237769
6     20.134028
7     22.790054
8     22.279301
9     16.484444
10    10.954973
11     0.931389
12    -3.306317
dtype: float64

<img src="../images/icon/Technical-Stuff.png" alt="Concept-Alert" style="width: 100px;float:left; margin-right:15px"/>
<br /> 

# Pivot Tables : Excellent way to Summarize your Data!
***
- A pivot table is a tool that allows you to reorganize and summarize selected columns and rows of data in a dataframe <br/><br/>

- Pivot tables provide an easy way to subset by one column and then apply a calculation like a sum or a mean <br/><br/>

- Pivot tables first group and then apply a calculation

In [61]:
data = {
    'A': ['foo','foo','foo','bar','bar','bar'],
    'B': ['one','one','two','two','one','one'],
    'C': ['x','y','x','y','x','y'],
    'D': [1, 3, 2, 5, 4, 1]
}

df = pd.DataFrame(data)
df

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1

In [62]:
pivot_df = df.pivot_table(
                values='D',      # We want to aggregate the values of which column?
                index='A',       # We want to use which column as the new index?
                columns=['C'],   # We want to use the values of which column as the new columns? (optional)
                aggfunc=np.sum)  # What aggregation function to use ?

# Notice that the result is a hierarchical index
pivot_df

C    x  y
A
bar  4  6
foo  3  3

In [63]:
# convert it back to a simple index

pivot_df.reset_index()

C    A  x  y
0  bar  4  6
1  foo  3  3

### What is the mean temperature recorded by month?

In [64]:
mean_temperature_df = weather_df2.pivot_table(values='Temp (C)', index=weather_df2.index.month, aggfunc=np.mean)
mean_temperature_df

            Temp (C)
Date/Time
1          -7.371505
2          -4.225000
3           3.121237
4           7.009306
5          16.237769
6          20.134028
7          22.790054
8          22.279301
9          16.484444
10         10.954973
11          0.931389
12         -3.306317

<img src="../images/icon/Technical-Stuff.png" alt="Concept-Alert" style="width: 100px;float:left; margin-right:15px"/>
<br /> 

# Group By
***
The groupby method allows you to group rows of data together and call aggregate functions

In [65]:
mean_temperature_df2 = weather_df2.groupby(weather_df2.index.month).agg(np.mean).reset_index()
mean_temperature_df2

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Visibility (meters)
0,1,-7.371505,-12.294758,68.383065,18.108871,22.100269,101.005349,22100.268817
1,2,-4.225000,-9.221695,68.956897,14.837644,25.182184,101.142414,25182.183908
2,3,3.121237,-3.488575,64.862903,14.514785,26.177957,101.335255,26177.956989
3,4,7.009306,-1.934583,56.150000,17.369444,31.777083,100.716833,31777.083333
4,5,16.237769,8.080780,61.760753,12.846774,29.418548,101.057164,29418.548387
5,6,20.134028,11.738056,60.643056,14.681944,32.104167,100.784222,32104.166667
6,7,22.790054,14.595430,62.017473,11.887097,33.655108,100.828333,33655.107527
7,8,22.279301,15.644758,67.943548,13.931452,30.192608,100.927097,30192.607527
8,9,16.484444,10.757917,71.165278,14.108333,30.603472,101.087903,30603.472222
9,10,10.954973,6.533468,75.731183,15.475806,25.111022,100.909368,25111.021505
10,11,0.931389,-4.179306,69.984722,13.973611,26.077083,101.658306,26077.083333
11,12,-3.306317,-6.129032,81.299731,17.614247,19.733199,101.174409,19733.198925

<img src="../images/icon/Technical-Stuff.png" alt="Concept-Alert" style="width: 100px;float:left; margin-right:15px"/>
<br /> 
# Concat, Merge and Join (1/2)
<br/>
***
There are 3 key ways of combining DataFrames together:

- **Concatenation**: Concatenation basically glues together DataFrames. Keep in mind that dimensions should match along the axis you are concatenating on <br/><br/>
- **Merging**: The merge function allows you to merge DataFrames together using a similar logic as merging SQL Tables together<br/><br/>

<img src="../images/icon/Technical-Stuff.png" alt="Concept-Alert" style="width: 100px;float:left; margin-right:15px"/>
<br /> 
# Concat, Merge and Join (2/2)
***
- **Join**: Join is a convenient method for combining the columns of two potentially differently-indexed DataFrames into a single result DataFrame

## Concat

In [66]:
df1 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']
}, index=[0, 1, 2, 3])

df2 = pd.DataFrame({
    'A': ['A4', 'A5', 'A6', 'A7'],
    'B': ['B4', 'B5', 'B6', 'B7'],
    'C': ['C4', 'C5', 'C6', 'C7'],
    'D': ['D4', 'D5', 'D6', 'D7']
}, index=[4, 5, 6, 7])

df3 = pd.DataFrame({
    'A': ['A8', 'A9', 'A10', 'A11'],
    'B': ['B8', 'B9', 'B10', 'B11'],
    'C': ['C8', 'C9', 'C10', 'C11'],
    'E': ['D8', 'D9', 'D10', 'D11']
}, index=[8, 9, 10, 11])

In [67]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [76]:
# if you don't specify an axis, it defaults to axis=0, which means it appends to rows
pd.concat([df1, df2, df3], sort=True)

      A    B    C    D    E
0    A0   B0   C0   D0  NaN
1    A1   B1   C1   D1  NaN
2    A2   B2   C2   D2  NaN
3    A3   B3   C3   D3  NaN
4    A4   B4   C4   D4  NaN
5    A5   B5   C5   D5  NaN
6    A6   B6   C6   D6  NaN
7    A7   B7   C7   D7  NaN
8    A8   B8   C8  NaN   D8
9    A9   B9   C9  NaN   D9
10  A10  B10  C10  NaN  D10
11  A11  B11  C11  NaN  D11

In [69]:
# axis=1 means concat along columns

pd.concat([df1, df2, df3], axis=1);

## Join
***
Simply join two DFs having potentially different row indices

In [70]:
# Join
left_df = pd.DataFrame({
    'A': ['A0', 'A1', 'A2'],
    'B': ['B0', 'B1', 'B2']
}, index=['K0', 'K1', 'K2']) 

right_df = pd.DataFrame({
    'C': ['C0', 'C2', 'C3'],
    'D': ['D0', 'D2', 'D3']
}, index=['K0', 'K2', 'K3'])

left_df.join(right_df, how='outer')

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

## Merge

In [77]:
# Merging on multiple keys
left = pd.DataFrame({
    'key1': ['K0', 'K0', 'K1', 'K2'],
    'key2': ['K0', 'K1', 'K0', 'K1'],
    'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3']
})
    
right = pd.DataFrame({
    'key1': ['K0', 'K1', 'K1', 'K2'],
    'key2': ['K0', 'K0', 'K0', 'K0'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']
})

pd.merge(left, right, how='outer', on=['key1', 'key2']);

In [78]:
# other options are 'inner', 'left', 'right'

pd.merge(left, right, how='left', on=['key1', 'key2']);

# Further Reading
***
- Pandas documentation: http://pandas.pydata.org/

<img src="../images/icon/Recap.png" alt="Recap" style="width: 100px;float:left; margin-right:15px"/>
<br />
# In-session Recap Time
***
- Creating DataFrames: Manually and from files
- Analzing DataFrame
- Data Manipulation and Transformations
    - Filtering
    - Selection
    - Working with Coloumns
    - Sorting
    - Pivot Tables and GroupBy
    - Merging Data

# Thank You
***
### Coming up next...
***
- Visualizing data using `matplotlib`
- Getting started with Machine Learning